@import "layout.scss";
@import "variables.scss";
/* /move card group to layouts later */


.ImgText {
    img {
        width: 100%;
    }
}

.ImgTextGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:  50px 30px;
    @include animation('slide-up 2s');
    // margin-bottom: 50px;
    p{
        margin-top:10px;
    }


}

ul {
    margin: 1px;
  }
  ul.dashed {
    list-style-type: none;
    color: white;
  }
  
  ul.dashed > li:before {
    content: "-";
    
  }
  ul, li {margin-left: 0; padding-left: 0;}





///SET MOBILE CARD DISTRIBUTION HERE!!

@media (max-width: 1080px) {  ///check what size needed
    .ImgTextGroup {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:  40px 30px;

        
    }

    // .Card-TextContainer {
    //     margin-top: 10px;
    //     &:nth-child(2) {
    //        width: 100%;
    //     }
}
