@import "layout.scss";
@import "variables.scss";
/* /move card group to layouts later */


.TextImgGroup {
    margin-top:50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:  50px 30px;
    margin-bottom: 100px;
    @include animation('slide-up 2s');
    img {
        width: 100%;
    }
    p{margin-top: 10px;}
}



///SET MOBILE CARD DISTRIBUTION HERE!!

@media (max-width: 1000px) {  ///check what size needed
    .TextImgGroup {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:  20px 30px;
    }
}
 
