@import "layout.scss";
@import "variables.scss";
/* /move card group to layouts later */

.CardGroup {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap:  50px 30px;
    margin-bottom: 50px;
}

.Card-TextContainer { //setting distances textblock to card
   margin-top:10px;
}

.Card img {
    width: 100%;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card:hover img {
    transform: scale(1.02);
}


.Card h2 {
    float: left; //all text in a line
    margin: 0 5px 0 0; // 5 for dash spcing
    font-weight: 400;
    font-size: 16px; //CHANG TO RIGHT PLACE!!! h2::first-letter {
    }

h2.bold {
    // font-weight: 800;  
}



///SET MOBILE CARD DISTRIBUTION HERE!!

@media (max-width: 755px) {
    .CardGroup {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:  40px;
    }
    // .Card-TextContainer {
    //     margin-top: 10px;
    //     &:nth-child(2) {
    //        width: 100%;
    //     }
}

