@import "layout.scss";
@import "variables.scss";
/* /move card group to layouts later */

.CardGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:  50px 30px;
    margin-bottom: 50px;
}

.Card img {
    width: 100%;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card:hover img {
    transform: scale(1.02);
}


.Card-TextContainer {
 display: grid;
 grid-template-columns: 45px 1fr;
 margin-top: 15px;
 &:nth-child(2) {
    width: 90%;
 }
}

.Stroke {
    width: 30px;
    height: 2px;
    margin-top: 20px;
    background-color: $text-color;
}


.Card h3 {
    font-size: 13px;
    font-weight: 400;
    // text-transform: uppercase; 
}




// @media (max-width: 640px) {
//     .CardGroup {
//         display: grid;
//         grid-template-columns: 4fr;
//         grid-gap:  40px;
//     }

//     .Card-TextContainer {
//         margin-top: 10px;
//         &:nth-child(2) {
//            width: 100%;
//         }
// }
// }


/* .Card:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 30px 60px rgba(0,0,0,0.5);
} */

/* .Card:hover img {
    transform: translateY(-20px);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
} */



/* .Card h3 {
    color: black;
    font-size: 25px;
    margin: 20px 0 0 20px;
    with: 190px;
}

.Card p {
    color:black;
    text-transform: uppercase;
    font-weight: 600;
    align-self: end;
    margin: 0 0 20px 20px;
} */