@import "layout.scss";
@import "variables.scss";
/* /move card group to layouts later */
.CardGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}



.Card img {
    width: 100%;
    margin-top: 20px;
} 

.Stroke {
    width: 30px;
    height: 2px;
    background-color: $text-color;
}

.Card h3 {
    font-size: 13px;
    font-weight: 400;
    margin: 0 20 0 50;
    text-transform: uppercase; 
}

.Card h2 {
    width: 80%;
}


@media (max-width: 640px) {
    .CardGroup {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
   h2 {
            width: 100%;
            font-size: 20px;
            line-height: 1.4;
        }
    }
   
}


/* .Card:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 30px 60px rgba(0,0,0,0.5);
} */

/* .Card:hover img {
    transform: translateY(-20px);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
} */



/* .Card h3 {
    color: black;
    font-size: 25px;
    margin: 20px 0 0 20px;
    with: 190px;
}

.Card p {
    color:black;
    text-transform: uppercase;
    font-weight: 600;
    align-self: end;
    margin: 0 0 20px 20px;
} */