@import "layout.scss";
@import "variables.scss";



.ContactBox {
    // background-color: #2C3043;
    padding-left: $page-margin;
    padding-top: 30vh;
    h1{
      @media (max-width: 640px) {
        font-size:35px;
        line-height: 1.2; 
      }
    }
    p {
      // color: white;
      font-size: 18px;
    }
  }
  
  @import "layout.scss";
@import "variables.scss";


// might be worth as component

.FooterBottom{
  position: fixed;
  width: 100%;
  transition: $trans-hover;
  bottom: 0;
}

.FooterBottomGrid{
  // background-color:green;
  display: grid;
  grid-template-columns: 1fr 150px;
  margin: 0 $page-margin;
}

.AgbImpressum{
  p {
    float:right;
    margin-left: 20px;
    margin-top:0;
}
}

  
