@import "layout.scss";
@import "variables.scss";



.ContactBox {
    // background-color: #2C3043;
    padding-left: $page-margin;
    padding-top: 30vh;
  padding-bottom: 2000px;
    h1{
      // color: white;
    }
    p {
      // color: white;
      font-size: 18px;
    }
  }
  
  
