
@import "layout.scss";
@import "variables.scss";

.HeaderGroupMob {
  visibility: hidden;
}

.Header {
  position: fixed;
  width: 100%;
  // background-color: red;
  padding: 25px 0;
  // for scroll
  transition: $trans-hover;
  top: 0;
}

.HeaderGroup {
  max-width: 300px;
  float: right;
  z-index: 10;
  margin-right: $page-margin;
  // margin-right: calc(#{$page-margin}*2);
  // height: 20px;
}


.Header a {
  text-decoration: none;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 10001;
}

.Header a:last-child {
  padding-right: 0;
} 

.Header a:hover {
  opacity: 0.7;
} 



.HeaderScrolled {
  background: $bg-color;
  padding: 20px 0 20px 0;  //set size here
  transition: $trans-hover;
}


////MOBILE //////

@media (max-width: 755px) {
  .HeaderGroup {
    display: none;
  }
  .HeaderGroupMob {
    visibility: visible;
  }

  .Header {
    position: fixed;
    width: 100%;
    z-index: 3;
    // background-color: red;
    padding:  0;
    // for scroll
    transition: $trans-hover;
    top: 0;
  }

  .HeaderGroupMob {
    background-color:red;
    margin-right: $page-margin;
    margin-top:0;
    img { //BURGER///
      float:right;
      padding: 20px 0 20px 0;  ///adapt to back arrow
      width: 30px;
 
    }
  }
}




