
@import "layout.scss";

.Header {

  position: fixed;
  padding: 20px 0;
  width: 1000px;
  z-index: 100;
  background-color: $bg-color;
}

.HeaderGroup {
  max-width: 300px;
  float: right;
  margin: 0 auto;
  height: 20px;
}


.Header a {
  text-decoration: none;
  color: black;
  padding-right: 20px;
}

.Header a:last-child {
  padding-right: 0;
} 

.Header a:hover {
  opacity: 0.7;
} 
