
.Header {
  max-width: 1000px;
  position: fixed;
  height: 20px;
  padding-top:50px;
  right: 0;
}

.HeaderGroup {
  background:blue;
}

.sticky {
  background-color:pink;
}


/* .Header a:last-child {
  margin-right: 0;
} */

.Header a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  float: left;
  display: block;
}
