@import "layout.scss";
@import "variables.scss";

.Hero{
    width: 70%;
    padding-bottom: 50px;
  }
  
  .Hero h1 {
    font-family: 'Open Sans', sans-serif;
    padding-top:40px;
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    padding-bottom: 0;
    margin-top:0;
  }
  
  