@import "layout.scss";
@import "variables.scss";

.Hero{
    width: 65%;
    @include animation('slide-up 2s');
.HeroH1 {
  margin: 30px 0 0 0;
} 
p {
    margin-bottom:50px;
  }
}
.Portfolio-Hero {
    padding-top: 50px;
  }

.mail {
  margin-right: 10px;
}


  @media (max-width: 750px) {
    .Hero{
      width: 100%;
      margin-top: 80px;
      h1 {
        font-size: 35px;
        line-height: 1.2;
      }
      p {
        font-size: 16px;
      }
    }

 

    .Portfolio-Hero {
      padding-top: 1px;
      // otherwise arrov moves
    }
}
  

//  mail and phone break in mob
@media (max-width: 850px) {
 .Hero {
  p.mail{
      margin-bottom:0;
    }
  p.tel{
    margin-top: 0;
  }
  }
 }
  