@import "layout.scss";
@import "variables.scss";

.Hero{
    width: 70%;
.HeroH1 {
  margin: 30px 0 0 0;
} 
    p {
      margin-bottom:50px;
    }
  }
.Portfolio-Hero {
    padding-top: 50px;
  }


  

  @media (max-width: 640px) {
    .Hero{
      width: 100%;

      h1 {
        margin-top: 80px;
        font-size: 35px;
        font-weight: 800;
        line-height: 1.2;
      }
      p {
        font-size: 16px;
      }
    }
    .Portfolio-Hero {
      padding-top: 1px;
      // otherwise arrov moves
    }
}
  
  