@import "variables.scss";

.Backarrow{
    position: fixed;
    z-index: 10000;
    padding: 30px 0;
    width: 13px;
  }

  .Backarrow:hover {
      opacity: 0.7;
      transition: $trans-hover;
  }

  @media (max-width: 755px) {
    .Backarrow{
        padding: 25px 0 20px 0; 
    }
}



