
/////// COLORS //////////
$bg-color: #f4f4f4;
$text-color: #2C3043;
$highlight-color: #FC6057;

////// PAGE MARGIN /////

$page-margin: 6%;

///// TRANSITION ///////
$trans-hover: 0.3s cubic-bezier(0.2, 0.8, 0.2, 1.0);


 // RESPONSIVE FONT
  
 @mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
    $responsive-unitless: $responsive / ($responsive - $responsive + 1);
    $dimension: if(unit($responsive) == 'vh', 'height', 'width');
    $min-breakpoint: $min / $responsive-unitless * 100;
    
    @media (max-#{$dimension}: #{$min-breakpoint}) {
      font-size: $min;
    }
    
    @if $max {
      $max-breakpoint: $max / $responsive-unitless * 100;
      
      @media (min-#{$dimension}: #{$max-breakpoint}) {
        font-size: $max;
      }
    }
    
    @if $fallback {
      font-size: $fallback;
    }
    
    font-size: $responsive;
  }